# Eat Safe, Love

## Notebook Set Up

In [61]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint

In [62]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [63]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [64]:
# review the collections in our database
# Review the collections in the database
collections = db.list_collection_names()
print(collections)

['establishments']

In [65]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [66]:
# Find the establishments with a hygiene score of 20
query = {'score.hygiene': 20}

# Use count_documents to display the number of documents in the result
count = establishments.count_documents(query)
print(count)

# Display the first document in the results using pprint
result = establishments.find_one(query)
pprint(result)

0
None

In [67]:
import pandas as pd
# Convert the result to a Pandas DataFrame
df = pd.DataFrame(result)

# Display the number of rows in the DataFrame
print(len(df))

# Display the first 10 rows of the DataFrame
df.head(10)

0

Empty DataFrame
Columns: []
Index: []

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [68]:
# Use count_documents to display the number of documents in the result

# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query = {'LocalAuthority': 'London', 'RatingValue': {'$gte': 4}}

# Use count_documents to display the number of documents in the result
count = establishments.count_documents(query)
print(count)

# Display the first document in the results using pprint
result = establishments.find_one(query)
pprint(result)

0
None

In [69]:
# Convert the result to a Pandas DataFrame
df = pd.DataFrame(result)

# Display the number of rows in the DataFrame
print(len(df))

# Display the first 10 rows of the DataFrame
df.head(10)

0

Empty DataFrame
Columns: []
Index: []

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [70]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score
degree_search = 0.01
latitude = 0.0
longitude = 0.0

query = {
    'latitude': {'$gte': latitude - degree_search, '$lte': latitude + degree_search},
    'longitude': {'$gte': longitude - degree_search, '$lte': longitude + degree_search},
    'RatingValue': 5
}
sort = [('hygiene_score', 1)]

# Find the establishments that match the query and sort by hygiene score
results = establishments.find(query).sort(sort)

# Print the results
for result in results:
    pprint(result)

In [71]:
# Convert result to Pandas DataFrame
df = pd.DataFrame(result)

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [72]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest

# Print the number of documents in the result

# Create a pipeline that matches establishments with a hygiene score of 0, groups the matches by Local Authority, and sorts the matches from highest to lowest
pipeline = [
    {'$match': {'hygiene_score': 0}},
    {'$group': {'_id': '$LocalAuthority', 'count': {'$sum': 1}}},
    {'$sort': {'count': -1}}
]

# Execute the pipeline and print the number of documents in the result
result = establishments.aggregate(pipeline)
count = sum(1 for _ in result)
print(count)

0

In [73]:
# Convert the result to a Pandas DataFrame
df = pd.DataFrame(result)

# Display the number of rows in the DataFrame
print(len(df))

# Display the first 10 rows of the DataFrame
df.head(10)

0

Empty DataFrame
Columns: []
Index: []